﻿body {
}

#content{
    position:relative;
}

.zodiac_header{
    margin-top: 70px;
}

.sign_zodiac_img{
    width:160px;
    position:absolute;
    right: 0;
    top: -90px;
}

    .sign_zodiac_img img{
        margin: unset !important;
    }
 
.zodiac_traits{
    font-size: 18px;
    font-family: 'Open Sans', Arial;
    padding-bottom: 20px;
}

.signs{
    margin: 0 auto;
}

    .signs div{
        float:left;
        width: 29.6%;
        padding: 0 1.6% 10px;
    }

    .signs img{
        border: none;
        width: 100%;
        margin: unset !important;
    }

.zodiac_meaning{
    clear:both;
    text-align: center;
    font-family: 'Open Sans', Arial;
    font-size: 30px;
    line-height: 30px;
}

.sign{
    margin: 0 auto;
    width: 100%;
    background-color:#cadbee;
    border-radius: 10px;
    overflow:hidden;    
    padding-top: 20px;
}

    .sign .sign_img{
        width:18%;
        float:left;
        padding: 0 1.6% 20px;
    }

    .sign .daily_number{
        width: 70%;
        float:left;
        padding: 4% 0 0 10px;
        font-size: 1em;
    }

    .sign img{
        border: none;
        width: 100%;
        margin: unset !important;
    }

    .ads_padding_middle{
        margin-top: 30px;
    }

    .daily_other{
        font-size: 25px;
        font-weight:600;
        margin: 40px auto 0;
        color:#1a6e93;
        text-align: left;
        line-height: 25px;
    }

    .daily div{
        width: 33% !important;
        height: 101px;
        padding: 0 0 10px;
    }

.star{
    max-width: 282px;
}

.star img{
    width: 100%;
    margin: unset !important;
}

.cookie .crack_cookie{
    margin: 38px auto 0;
    max-width: 368px;
}

    .cookie .crack_cookie img{
        cursor: pointer;
        width: 100%;
    }

.cookie .fortune_cookie{
    max-width: 520px;
}

    .cookie .fortune_cookie img{
        width: 100%;
        cursor: auto;
    }

.cookie .cracked {
    position: relative;
    max-width: 727px;
    font-size:9px;
    line-height:9px;
}

.cookie .cracked > img{
    width: 100%;
    height: auto;
    margin: auto !important;
}

.cookie .cracked > .quote{
    position: absolute;
    top: 20%;
    overflow: hidden;
    width:37%;
    left: 22%;
}

.share_buttons
{
    margin: 0 auto;
    width: 90%;
}

.share_buttons div
{
    margin: 0 auto;
    width: 70%;
}

.ad{
    height: 60px;
}

@media (min-width:350px) {
    .cookie .cracked > .quote{
        top: 21%;
    }
}

@media (min-width:400px) {
    .cookie .cracked > .quote{
        top: 22%;
    }
}

@media (min-width:400px) {
    .sign .daily_number{
        font-size: 1.4em;
    }

    .sign_zodiac_img{
        width:200px;
        top: -115px;
    }

    .cookie .cracked {
        font-size:10px;
        line-height:10px;
    }
}

@media (min-width:500px) {
    .signs div{
        width: 21.6%;
    }

    .sign .daily_number{
        font-size: 1.7em;
    }

    .daily div{
        width: 25% !important;
    }

    .cookie .cracked {
        font-size:13px;
        line-height:13px;
    }

    .cookie .cracked > .quote{
        top: 37%;
    }

    .share_buttons
    {
        margin: 0 auto;
        width: 66%;
    }

    .share_buttons div
    {
        margin: 0 1%;
        width: 47%;
        float:left;
    }
}

@media (min-width:600px) {
    .sign .daily_number{
        font-size: 2.2em;
    }

    .cookie .cracked {
        font-size:14px;
        line-height:15px;
    }

    .cookie .cracked > .quote{
        top: 39%;
    }
}

@media (min-width:700px) {
    .cookie .cracked {
        font-size:15px;
    }
}

@media (min-width:750px) {
    .signs div{
        width: 29.6%;
    }

    .daily div{
        width: 33% !important;
    }

    .cookie .cracked {
        font-size:10px;
        line-height:10px;
    }

    .cookie .cracked > .quote{
        top: 34%;
    }
}

@media (min-width:800px) {
    .cookie .cracked > .quote {
        top: 36%;
    }
}

@media (min-width:900px) {
    .signs div{
        width: 21.6%;
    }

    .daily div{
        width: 16.6% !important;
        height: 101px;
        padding: 0 0 10px;
    }

    .cookie .cracked {
        font-size:13px;
        line-height:13px;
    }

    .cookie .cracked > .quote{
        top: 36%;
    }
}

@media (min-width:1000px) {
    .cookie .cracked {
        font-size:15px;
        line-height:15px;
    }

    .cookie .cracked > .quote{
        top: 38%;
    }
}

@media (min-width:1100px) {
    .cookie .cracked {
        font-size:16px;
        line-height:16px;
    }

    .cookie .cracked > .quote{
        top: 40%;
    }
}

@media (min-width:1250px) {
    .sign .daily_number{
        font-size: 2.9em;
    }
}