﻿body {
}

#topcoupon {
    font-size:16px;
    line-height:20px;
}

    #topcoupon .title {
        padding-top: 10px;
        font-family: Arial;
        font-weight: bold;
        font-size: 24px;
        color: #ec1559;
    }

        #topcoupon .title a {
            color:inherit;
        }

    #topcoupon .date {
        font-size:12px;
        color: #333333;
    }

    #topcoupon .button {
        text-align:center;
        padding:25px;
    }

        #topcoupon .button a {
            padding: 10px 17%;
            background: #00cc33;
            color: #FFF;
            font-size:14px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: solid 1px #20538D;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#00cc33), to(#009a01) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #00cc33, #009a01 ); /* for Firefox */
        }
        #topcoupon .button a:hover, #topcoupon .button a:focus {
            background: #009a01;
            border: solid 1px #2a4e77;
            text-decoration: none;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#009a01),to(#006001));
            background-image: -moz-linear-gradient(top,#009a01,#006001);
        }
        #topcoupon .button a:active {
            -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            background: #00f43c;
            border: solid 1px #203E5F;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#00df38), to(#00cc33) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #00df38, #00cc33 ); /* for Firefox */
        }

    #topcoupon .image {
        text-align:center;
    }
    #topcoupon .image img {
        width: 100%;
        max-width: 475px;
        max-height: 275px;
    }
    #topcoupon .imagehp img {
    }

    #topcoupon .text {
    }

    #topcoupon .tags {
        font-size:12px;
    }

#coupons .coupon {
    font-size:14px;
    line-height:16px;
}

#coupons .coupon .title {
    font-family: Arial;
    font-weight: bold;
    font-size: 19px;
    color: #ec1559;
    padding-bottom: 10px;
}

#coupons .coupon .title a {
    color: inherit;
    text-decoration: none;
    }

#coupons .coupon .img {
    float:left;
    width:25.5%;
}

#coupons .coupon .img img {
    width:100%;
}


#coupons .coupon .details {
    float:right;
    width:68%;
    margin-right: 5%;
    padding-bottom:10px;
    margin-top: 20px;
}

#coupons .coupon .button {
    margin: 0;
    width:55%;
}
#coupons .coupon_type a, #coupons .expiration a, #coupons .save a {
    text-decoration: none;
    color: #384260;
}

#coupons .coupon .expire {
    font-size:12px;
    color: #333333;
    width:100%;
    padding-bottom:6px;
}

#coupons hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #1a6e93;
    margin: 1em 0; padding: 0;
}

#poPrevNext .all {
    text-align:center;
    font-family: Arial;
    line-height: 10px !important;
}

#poPrevNext .prev {
    float:left;
    text-align:left;
}
#poPrevNext .next {
    float:right;
    text-align:right;
}
#poPrevNext .image {
    width:10.3%;
}
    #poPrevNext .image img {
        width:100%;
    }
#poPrevNext .lnk {
    color:#1a6e93;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    margin:unset;
    line-height:65px;
}
    #poPrevNext .lnk a {
        color: inherit;
        font-size:16px;
    }
    
@media (min-width:400px) {
    #coupons .coupon .button {
        margin: 0;
        width:50%;
    }
}

@media (min-width:425px) {
    #topcoupon .button a {
        font-size:24px;
    }
}
    
@media (min-width:450px) {
    #coupons .coupon .button {
        margin: 0;
        width:40%;
    }
}

@media (min-width:545px) {
    #poPrevNext .lnk a {
        font-size: 22px;
    }

    #coupons .coupon .button {
        margin: 0;
        width:35%;
    }
}
    
@media (min-width:600px) {
    #coupons .coupon .button {
        margin: 0;
        width:36%;
    }
}
    
@media (min-width:750px) {
    #coupons .coupon .button {
        margin: 0;
        width:50%;
    }
}
    
@media (min-width:900px) {
    #coupons .coupon .button {
        margin: 0;
        width:40%;
    }
}
    
@media (min-width:1100px) {
    #coupons .coupon .button {
        margin: 0;
        width:26%;
    }
}