body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    cursor: default;
    /*background-color: white;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/MF_background.jpg);
    color: #444444;
}

* {
    text-decoration: none;
}

div {
    margin: 0 auto;
}

div img, div input[type=image] {
    width:100%;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration:underline;
}

h1 {
    color: #ffc900;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    top: 9px;
    margin-top: 15px;
}

    h1 span {
        color: #ec1559;
    }

h1 img{
    float: left;
    max-width: 27px;
    margin: 0 5px 0 0 !important;
}

    h1 a {
        text-decoration: none !important;
        color: #18c3df;
    }

.blue {
    color:#384260;
}

h2 {
    color: #384260;
    font-size:18px;
    line-height:20px;
    margin: 10px 0;
    font-weight:700;
}

h3 {
    color:#384260;
    font-weight:700;
    margin:20px 0;
}

p {
    margin: 10px 0;
}

.ckedit ul, .ckedit ol { margin: 1.12em 0; margin-left: 19px;  margin-top: 0; margin-bottom: 0; display: block; unicode-bidi: embed; line-height:1.5em; }
.ckedit ul             { list-style-type: disc; }
.ckedit ol             { list-style-type: decimal }
.ckedit li             { display: list-item }
.ckedit strong         { font-weight: 700 }

#content .blueline {
    clear: both;
    border: 0;
    height: 0;
    border-top: 2px solid #5a8bcc;
    margin: 10px 0 14px;
}


.bold {
    font-weight:700;
}

.container {
    width:96%;
    max-width:1150px;
    overflow:hidden;
}

.headline {
    background-color:white;
    text-align: center;
}

    .headline .header {
        padding: 5px 5px;
        color: #ec1559;
        font-size: 17px;
        font-weight: bold;
    }
#header {   
    width: 100%;
}

    .headline img {
        max-height:28px;
        width:93%;
        max-width:1038px;
        padding-top: 7px;
    }

    .container .signup {
        text-align: right;
        font-size: 14px;
        color: #1f73b4;
        max-width: 115px;
        float: right;
        padding-top: 35px;
    }

    .container .signup .fb {
        max-width: 28px;
        margin: 0;
        padding-right: 3px;
        margin-top: -4px;
    }

    .container .signup div {
        float: right;
    }

        .container .signup a {
            color: white;
            cursor: pointer;
            font-weight: bold;
        }

#header .logo {
    max-width: 75px;
    padding: 10px 0 10px 0;
}
    #header .catbtn {
        vertical-align:top;
        margin: 0px auto;
    }
        #header .catbtn .arrow {
            max-width:120px;
            float:left;
            width: 60%;
            padding-left: 5px;
        }
        #header .catbtn .btn {
            max-width: 50px;
            float: left;
            margin-left: 25px;
            padding-top: 40px;
        }
    #header .greentext {
        font-size:22px;
        line-height:24px;
        color : #384260;
        font-weight:700;
        width:93%;
        margin: 6px auto;
        text-align:center;
    }

#categories {
    display:none;
    width:100%;
    max-width:320px;
}


    #categories .categories_border {
        /*border: 1px solid #0e385f;*/
        /*border-top-width: 20px;*/
        background-color: white;
    }
    #categories .category_header {
        text-align: center;
        background-color: #0dc7df;
        padding: 10px 0 18px;
    }
    #categories .category_header p {
        margin-bottom: 0;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-shadow: 0px 0px black;
        color: white;
    }


#categories .list a {
    margin-left: 8px;
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #f46d90;
}
#categories .list a:first-of-type {
    padding-top: 8px;
}
#categories .list a:last-of-type {
    padding-bottom:8px;
}
#content a {
    text-decoration:underline;
}
#main {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
#content img {
     margin: auto;
     display:block;
}

#bottom {
    min-height: 41px;
    padding: 5px 0 0;
    text-align: center;
    /*background-image: url(../images/C2W_headerAndfooterBG.png);
    background-size: contain;*/
    background-color: #ec1559;
    margin-top: 25px;
}

#bottom .top{
    padding-top: 10px;
}

    #bottom .title {
        font-weight: 700;
        font-size: 17px;
        color: #ffff00;
        padding-top: 5px;
    }

#bottom .bullets {
    font-size:16px;
    color:#fff;
    font-weight:700;
    margin:10px 0 0;
}

#bottom .bullets div {
     display: inline-block;
}

#bottom .bullets span {
     color:#f6af32;
}

#bottom .copy {
     color:#fff;
     padding-bottom: 10px;
}

    #bottom .copy a {
        color: #ffffff;
    }

.disclosure{
     color:#fff;
     font-size: 80%;
     margin:0 auto 5px;
     padding-top: 10px;
     line-height: 12px;
     max-width: 71%;
}
#socialst {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#socialst div {
    padding: 5px 3px;
    float: left;
}

.clear{
    clear:both;
}

.homeSections div{
    width: 98%;
    padding: 14px 0.9%;
}

.homeSections img{
    width: 100%;
    margin: unset !important;
}

.find{
    text-align: center;
    color: #d20000;
    font-weight: bold;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-size: 24px;
}

.quotes{
    padding-top: 20px;
    color: #384260;
    font-weight: bold;
    font-size: 16px;
}

.quotes ul{
    list-style: disc;
}

.quotes li{
    float: left;
    width: 45%;
    margin-left: 5%;
}
.fb-page-bottom {
    display: block;
    max-width: 340px;
    margin-top:5px;
}
.fb-page-categrory {
    margin: 20px auto;
}
.mobileOnly {
    display: block;
}

.desktopOnly {
    display: none;
}
 @media only screen and (min-width: 310px) and (max-width:500px) {
    h1 {
        font-size:18px;
    }
    .container .signup {
        font-size: 13px;
    }
    .fb a img {
        width: 80%;
        margin-top: 3px;
    }
}
@media (min-width:450px) {
    .homeSections div{
        float:left;
        width: 47.8%;
        padding: 14px 0.9%;
    }

    .headline .header{
        width: 80%;
        font-size: 20px;
    }
}

@media (min-width:600px) {

}

@media (min-width:700px) {

}
    
@media (min-width:750px) {
    #header .container {
        width: 100%;
        max-width: 1150px;
        overflow: hidden;
        background-image: url(../images/MF_header_bg_d.png); 
        background-size: cover;
        background-repeat: no-repeat;
    }
    #header .logo {
        float: left;
        max-width: 210px;
        padding: 20px 0 20px 10px;
    }
    #header {
        /*background-image: url(../images/C2W_header_desktop.png);*/
    }
    #header .catbtn, #header .greentext {
        display:none;
    }

    #categories {
        display:block;
        float:left;
    }
    #main {
        float: right;
        /*border: 1px solid #0e385f;*/
        border-radius: 5px;
        margin: 0 auto;
        width: calc(100% - 370px);
        padding: 5px 15px 15px 15px;
        background-color: white;
    }
    #main hr {
        display:none;
    }
    #content hr {
        display:block;
    }


    .headline {
        text-align:center;
        padding: 5px 0;
    }

    .homeSections div{
        float: unset;
        width: 98%;
        padding: 14px 0.9%;
    }

    .container .signup {
        margin: 0;
        position: absolute;
        top: 10px;
        right: 18px;
        font-weight: normal;
        z-index: 1000;
        padding-top: 0;
    }

        .container .signup a {
            color: #f46d90;
            font-weight: bold;
        }
    #left {
        float: left;
    }
    .mobileOnly {
        display:none;
    }
    .desktopOnly {
        display: block;
    }
}

@media (min-width:800px) {
    #categories {
        width:320px;
    }
}

@media (min-width:900px) {
    .homeSections div{
        float:left;
        width: 47.8%;
        padding: 14px 0.9%;
    }
}

@media (min-width:915px) {
    .headline .header{
        font-size: 22px;
    }
}

@media (min-width:1000px) {
    .headline .header{
        font-size: 27px;
    }
    #header .logo {
        padding: 42px 0 42px 0;
    }
}


@media(min-width:1160px) {

}

@media (min-width:1225px) {

}