﻿.sitemap
{
    width: 100%;
}

.sitemap a{
    font-size: 1.2em;
}

.sitemap .row{
    clear: both;
    margin: 5px 0;
}

.sitemap h2 a{
    font-size: 1.5em;
    font-weight: bold;
}

.sitemap h3 a{
    font-size: 1.2em;
    font-weight: bold;
}

.sitemap .footer a{
    font-weight:bold;
}

hr{
    width: 100%;
}

.sections{
    width: 30%;
    margin-left: 3%;
    float:left;
}

.sections p.header{
    margin-bottom: 20px;
}