﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Rules_15k.aspx.cs" Inherits="Rules" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderMain" Runat="Server">
    <style>
        strong {
            font-weight: bold !important;
        }

    </style>
    <asp:Literal runat="server" ID="litRules"></asp:Literal>
    <br />
    <br />
</asp:Content>

