﻿#MOMents {
}
    #MOMents .MOMent {
        height:170px;
        margin:3px 0 3px 0;
        border: 1px solid black;
    }

        #MOMents .MOMent .img {
            display:inline-block;
            height:170px;
            width:200px;
        }

        #MOMents .MOMent .img img {
            max-height:170px;
            max-width:200px;
        }

        #MOMents .MOMent .thumbnail {
            display:inline-block;
            width:170px;
            margin-left:5px;
            height:170px;
            vertical-align: top;
            text-align:center;
        }

        #MOMents .MOMent .thumbnail img {
            max-height:170px;
            max-width:170px;
            margin-left:5px;
        }

        #MOMents .MOMent .type {
            display:inline-block;
            width:200px;
            text-align:center;
            margin-left:5px;
            vertical-align: top;
            margin-top:5px;
            text-align:center;
        }

        #MOMents .MOMent .text {
            display:inline-block;
            width:455px;
            height:170px;
            margin-left:15px;
            vertical-align: top;
        }

            #MOMents .MOMent .text .cke1 {
                height: 170px;
            }

        #MOMents .MOMent .text textarea {
            display:inline-block;
            width:300px;
            height:50px;
            margin-top:10px;
        }

        /*#MOMents .MOMent .username {
            display:inline-block;
            width:130px;
        }

        #MOMents .MOMent .status {
            display:inline-block;
            width:70px;
        }*/

input {
    margin:0;
}

a {
    color:inherit;
}

    a:hover {
        text-decoration:underline;
    }